<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GUI.Properties.Settings.QuanLyCuaHangPhanBonConnectionString"
            connectionString="Data Source=tcp:vonhatdai.database.windows.net;Initial Catalog=QuanLyCuaHangPhanBon;Persist Security Info=True;User ID=daigunny12;Password=Passla1den8"
            providerName="System.Data.SqlClient" />
        <add name="GUI.Properties.Settings.QuanLyCuaHangPhanBonConnectionString3"
            connectionString="Data Source=DESKTOP-SAHD7A7\SQLEXPRESS;Initial Catalog=QuanLyCuaHangPhanBon;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="GUI.Properties.Settings.QuanLyCuaHangPhanBonConnectionString1"
            connectionString="Data Source=DESKTOP-SAHD7A7\SQLEXPRESS;Initial Catalog=QuanLyCuaHangPhanBon;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>